// Styles de base - Notre Historia

body {
  color: var(--black);
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1;
}

h1 {
  color: var(--red);
  font-family: Solfa, Arial, sans-serif;
  font-size: 128px;
  font-weight: 400;
  line-height: 1;
}

h2 {
  color: var(--red);
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Solfa, Arial, sans-serif;
  font-size: 120px;
  font-weight: 400;
  line-height: 1;
}

p {
  margin-bottom: 0;
  font-family: Gt Sectra, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
}

a {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: inline-block;
}

// Layout global
.page {
  width: var(--100);
  max-width: 2400px;
  margin-left: auto;
  margin-right: auto;
}

.page_header {
  width: 100%;
  max-width: 1000px;
  padding: 80px 40px 0;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
}

.background {
  z-index: -1;
  width: var(--100);
  height: var(--100vh);
  object-fit: cover;
  position: fixed;
  inset: 0%;
}

.block-text {
  grid-column-gap: var(--40);
  grid-row-gap: var(--40);
  background-color: var(--white);
  flex-flow: column;
  width: 60%;
  padding: 80px 40px;
  display: flex;
}

.block-text.is-auto {
  margin-left: auto;
}

.block-image_legende {
  margin-top: var(--10);
  color: var(--red);
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 16px;
}

.block-image_image {
  width: var(--100);
}

.image {
  width: 30px;
}

.number {
  width: 10vw;
  position: absolute;
  inset: 80px calc(20vw + 40px) auto auto;
}

// Hero section
.hero {
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  display: flex;
}

.hero_image {
  object-fit: cover;
  width: 100%;
  height: 40vw;
}

.hero_side {
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 40%;
  height: 100vh;
  display: flex;
  position: sticky;
  top: 0;
}

.hero_image_wrapper {
  height: var(--100);
  width: 100%;
  display: flex;
}

.hero_image-2 {
  object-fit: cover;
  width: 50%;
  height: 100%;
}

// Block slider
.block-slider {
  overflow: hidden;
}

.block-slider_list {
  display: flex;
}

.block-slider_item {
  width: var(--100);
  flex: none;
}

.image-2 {
  width: 40px;
  height: 40px;
}

// Media queries
@media screen and (max-width: 991px) {
  .page.is-m-60 {
    padding-top: 60px;
  }

  .block-text {
    width: 100%;
    margin-bottom: 60vh;
  }

  .number {
    display: none;
  }

  .hero {
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
  }

  .hero_image {
    height: 100vw;
  }

  .hero_side {
    width: 100%;
    height: auto;
    position: relative;
  }

  .hero_image_wrapper {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 72px;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 70px;
  }

  .block-text {
    padding: var(--40) var(--10);
  }

  .hero_side {
    padding-top: 60px;
  }
}
